<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kevinwong.module.sys.mapper.CaptchaMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kevinwong.module.sys.entity.CaptchaEntity" id="captchaMap">
        <result property="uuid" column="UUID"/>
        <result property="code" column="CODE"/>
        <result property="expireTime" column="EXPIRE_TIME"/>
    </resultMap>


</mapper>