<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kevinwong.module.sys.mapper.NoticeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kevinwong.module.sys.entity.NoticeEntity" id="noticeMap">
        <result property="noticeId" column="NOTICE_ID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
    </resultMap>


</mapper>